* {
  margin: 0px;
  padding: 0px;
  font-family: "Syne", sans-serif;
  gap: 0px;
}

/* heading H2 */

h2 {
  color: #130f0f;
  font-size: 52px;
}

/* Heading H3 */

h3 {
  color: #130f0f;
  font-size: 40px;
}

/* Paragraph */

p {
  font-size: 22px;
  color: #130f0f;
}

/* Button */

button {
  background-color: #130f0f;
  color: whitesmoke;
  font-size: 22px;
  font-weight: 700;
  padding: 18px 55px;
  border: 2px solid #130f0f;
  transition: ease 0.3s;
}

/* Button Hover Effect*/

button:hover {
  background-color: transparent;
  color: #130f0f;
}

/* Heading H1 */

header h1 {
  z-index: 50;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
}

header {
  /* position: relative; */
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header Image */

header img {
  margin-top: -65px;
  z-index: 1;
  width: 100%;
  height: 550px;
}

header::after {
  z-index: 2;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 545px;
  background-color: #f9af2d; /* Your desired color overlay */
  opacity: 0.4; /* Adjust opacity as needed */
}

header nav {
  display: inline;
  z-index: 10;
  display: inline;
  padding: 25px 30px;
  background-color: #130f0f;
  margin-top: -30px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 1.6rem;
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 60px;
  gap: 20px;
}

.section1 img {
  width: 500px;
  height: auto;
}

.section2 {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 90%;
  padding: 30px 40px;
  margin-bottom: 66px;
}

.section2-img {
  display: flex;
  width: 60%;
  justify-content: end;
  align-items: center;
}

.section2-img img {
  width: 75%;
  box-shadow: -50px 0px 0px 30px #ececec;
}

.section2-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 0 30px;
  gap: 30px;
  text-align: center;
}
