* {
  margin: 0px;
  padding: 0px;
  font-family: "Syne", sans-serif;
  gap: 0px;
}

/* heading H2 */

h2 {
  color: #130f0f;
  font-size: 52px;
}

/* Heading H3 */

h3 {
  color: #130f0f;
  font-size: 40px;
}

/* Paragraph */

p {
  font-size: 22px;
  color: #130f0f;
}

/* Button */

button {
  background-color: #130f0f;
  color: whitesmoke;
  font-size: 22px;
  font-weight: 700;
  padding: 18px 55px;
  border: 2px solid #130f0f;
  transition: ease 0.3s;
}

/* Button Hover Effect*/

button:hover {
  background-color: transparent;
  color: #130f0f;
}

/* Heading H1 */

header h1 {
  z-index: 50;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
}

header {
  /* position: relative; */
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header Image */

header img {
  margin-top: -65px;
  z-index: 1;
  width: 100%;
  height: 550px;
}

/* Header Image Overlay */

header::after {
  z-index: 2;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 545px;
  background-color: #f9af2d; /* Your desired color overlay */
  opacity: 0.4; /* Adjust opacity as needed */
}

/* Navigation Bar */

header nav {
  display: inline;
  z-index: 10;
  display: inline;
  padding: 25px 30px;
  background-color: #130f0f;
  margin-top: -30px;
}

/* Navigation Options */

nav a {
  color: white;
  text-decoration: none;
  margin-right: 1.6rem;
}

/* Section 1 After hero Section (Header Section) */

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 60px;
  gap: 20px;
}

/* Section 1 Images */

.section1 img {
  width: 500px;
  height: auto;
}

/* Section 2  (Image with text) */

.section2 {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 90%;
  padding: 30px 40px;
  margin-bottom: 66px;
}

/* Section 2 Image Containor */

.section2-img {
  display: flex;
  width: 60%;
  justify-content: end;
  align-items: center;
}

/* Section 2 Image */

.section2-img img {
  width: 75%;
  box-shadow: -50px 0px 0px 30px #ececec;
}

/* Section 2 Content Container */

.section2-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 0 30px;
  gap: 30px;
  text-align: center;
}

/* Section 3 Containor */

.section3 {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: auto 70px;
  margin-top: 75px;
  margin-bottom: 66px;
}

/* Section 3 Headind */

.section3 h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}

/* Section 3 Images containor */

.img-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
  justify-content: center;
}

/* Section 3 Images */

.img-grid img {
  width: 430px;
  height: 340px;
  overflow: hidden;
  transition: ease 0.3s;
}

/* Section 3 Images Hover Effect*/

.img-grid img:hover {
  transform: scale(1.04);
}

/* Section 4 */

.section4 {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
  gap: 40px;
}

/* Section4 Heading */

.section4 h3 {
  text-align: center;
}

/* Section 4 Testimonial Image */

.section4 img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: 3px solid #fed483;
  outline: none;
}

/* section 4 Paragraph Text */

.section4 p {
  width: 40%;
  text-align: center;
}

/* Section 5 */

.section5 {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 60px auto;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

/* Section 5 Heading */

.section5 h3 {
  width: 100%;
  flex-grow: 1;
  text-align: center;
  margin-bottom: 20px;
}

/* section5 form Containor */

.section5-form {
  display: flex;
  width: 48%;
  justify-content: center;
  align-items: center;
}

/* section 5 Form */

.section5-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}

/* Section 5 Form Input feilds */

.section5-form form input {
  height: 30px;
  padding: 10px 15px;
  font-size: 18px;
  border: none;
  box-shadow: 0px 0px 5px 1.5px #ececec;
}

/* Section 5 form Submit Button */

.section5-form form input[type="submit"] {
  background-color: #f89e12;
  color: whitesmoke;
  margin-top: 10px;
  width: 25%;
  padding-bottom: 20px;
}

/* Section 5 form text Area */
#textareas {
  height: 100px;
}

/* section 5 Images */
.section5 img {
  width: 48%;
}
